<% if (typeof post !== "undefined") { %>
  <% var greeting = "Edit Post!"; %>
  <% var title = (post.escape("title") || ""); %>
  <% var body = (post.escape("body") || ""); %>
<% } else { %>
  <% greeting = "Create Post!"; %>

<% } %>

<h3><%= greeting %></h3>

<form>
  <label for="post_title">Title</label>
  <input type="text" name="post[title]" value="<%= title %>" id="post_title">

  <br>
  <br>

  <label for="post_body">Body</label>
  <textarea name="post[body]"  id="post_body"><%= body %></textarea>
  <br>

  <input type="submit">
</form>

<a href="#/">Back to Index</a>
